/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2017, 8:03:59 PM
    Author     : ANISH
*/

.img-card{
    
    height: 152px;
    width: 100%;
}

.img-card:hover{
    opacity: 0.6;
}

.bg-hover:hover{
   background: #c9302c;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 5px;
   padding-right: 5px;
   overflow: hidden;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   
}
.bg-hover a:hover{
    color: white;
}

